* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  text-align: center;
  background-color: lightgreen;
  height: 200px;
}

.header > h1 {
  font-size: 40px;
  padding-top: 40px;
}

.introduce,
.skill {
  text-align: center;
  margin: 60px 0;
}

.introduce > h2,
.skill > h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.introduce > p {
  margin-bottom: 20px;
  font-size: 18px;
}

.skill-imgs {
  width: 1200px;
  margin: 0 auto;
}

.skill-imgs > .skill {
  display: inline-block;
  margin: 50px;
}

.skill-txt {
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
}

.portfolio {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.portfolio > .page {
  margin: 0 auto;
  display: inline-block;
}

.page-blackyark {
  background: url(../imgs/blackyark.JPG) no-repeat center center;
  width: 450px;
  height: 340px;
  margin-bottom: 40px;
}
.page-seoul {
  background: url(../imgs/seoul_mobile.JPG) no-repeat center center;
  width: 450px;
  height: 620px;
  margin-bottom: 40px;
}
.page-todo {
  background: url(../imgs/todo.JPG) no-repeat center center;
  width: 450px;
  height: 400px;
}
